@navWidth: 275px;
@colorSubtitle: #737373;
@colorRed: rgb(238, 125, 125);
@colorLink: #2a6496;

@colorStaticBubbleBg: #7ca828;
@colorStaticBubble: #ffffff;

@colorBgNavi: #343f4c;
@colorBgNavi2: #222c39;

@naviSubtitleColor: #0087E5;

@naviSelectedTitleBgColor: #1193EF;
@naviSelectedTitleColor: #E8E8E8;
@naviSelectedTitleBorderColor: #0A6EB5;

@itemBorderLeftColor: #656c75;
@itemSelectedIndicatorColor: #edcf07;

@naviTitleSize: 18px;

.font-description () {
    font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif
}